module.exports = {
  apps : [
      {
        name: "Eauth",
        script: "./index.js",
        instances: 1,
        env: {
            "PORT": 8080,
            "NODE_ENV": "development",
            "watch": true,
            "script": "yarn",
            "args" : "dev"
        },
        env_production: {
            "PORT": 80,
            "NODE_ENV": "production",
            "script": "yarn",
            "args" : "start"
        }
      }
  ]
}