extends layout

block vars
  - var title = 'Authorise'

block append scripts
    script.
        document.getElementById("url").value=window.location.pathname+window.location.search;

block content
  .container
    .row.justify-content-center
      .col-sm-8.col-lg-6
        form.form-signin(method='post', action='', role='form')
          h2.form-signin-heading Authorise
          .form-group
            .div You will continue with account #{address}.
          .form-group
            input(type='hidden', name='allow', value='yes')
            input(type='hidden', name='client_id', value=client_id)
            input(type='hidden', name='redirect_uri', value=redirect_uri)
            input(type='hidden', name='response_type', value='code')
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Authorise

        form.form-signin(method='post', action='/logout', role='form')
          .form-group
            input(type='hidden', name='url', id='url', value='')
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Use another account
