extends layout

block vars
  - var title = 'Contract Login'

block content
  .dialog__default.dialog
    .dialog__logo
      img(src='/images/logo.png' alt='logo')
    .dialog__message
      .subtitle.mt-24 Continue login with your contract
      #fulladdress(style='display: none;') #{address}
      .address
        span#address(data-toggle="tooltip" title=`${address}`) -
    .dialog__actions
      button.button.button--eauth Ethereum Login
      if useFortmatic
        button.button.button--fortmatic Fortmatic Login

      button.button.button--walletConnect  Wallet Connect

      button.button.button--customized Customized Sign

    if useSocket
      hr.divider(data-content='by mobile wallet')
      .dialog__actions
        .qrcode-wrapper
          .qrcode-wrapper__qrcode
            #qrcode(style='display: none;')
        .timer
          .timer__number 00:00
          .timer__message
            img.icon(src='/images/refresh.svg' alt='refresh-icon')
            .timer__text will refresh
  .powered-by-text Powered by Pelith

block scripts
  script.
   const prefix = `#{prefix}`
  script(src='/scripts/contractlogin.js' type='text/javascript')
  script(src='/scripts/showAddress.js' type='text/javascript')

  if useSocket
    script(src='/socket.io/socket.io.js' type='text/javascript')
    script(src='https://cdn.jsdelivr.net/npm/easytimer@1.1.1/src/easytimer.min.js' type='text/javascript')
    script(src='/scripts/qrcode.min.js' type='text/javascript')
    script(src='/scripts/mobile-socket.js' type='text/javascript')

block stylesheets
  link(rel='stylesheet' href='/stylesheets/main.css')
