extends layout

block vars
  - var title = 'Eauth'

block content
  .background-center
    .dialog
      .dialog__logo
        img(src='/images/logo.png' alt='logo')
      .dialog__message 
        .title Authenticate with your Ethereum wallet.
      .dialog__actions
        button.button.button--normal Login with Normal wallet
        button.button.button--contract Login with Contract wallet
    .powered-by-text Powered by Pelith

block scripts
  script(src='/scripts/index.js' type='text/javascript')

block stylesheets
  link(rel='stylesheet' href='/stylesheets/main.css')
