extends layout

block append scripts
    script(src='/scripts/index.js')

block content
  .container
      h2 Ethauth
      .form-group
        .div Login account with Ethauth
      .form-group
        button.btn.btn-lg.btn-primary.btn-block.eth-signin Login
