extends layout

block vars
  - var title = 'Eauth'

block content
  .dialog__default.dialog
    .dialog__logo
      img(src='/images/logo.png' alt='logo')
    .dialog__message
      .title Authenticate with your Ethereum wallet
    .dialog__actions
      button(disabled).button.button--normal Login with Ethereum wallet
      button(disabled).button.button--contract Login with Contract wallet

block scripts
  script(src='/scripts/index.js' type='text/javascript')

block stylesheets
  link(rel='stylesheet' href='/stylesheets/main.css')
