extends layout

block append scripts
    script(src='scripts/index.js')

block content
  .container
    .row.justify-content-center
      .col-sm-8.col-lg-6
        h2 Eauth
        .form-group
          .div Authenticate with your Ethereum wallet
        .form-group
          button.btn.btn-lg.btn-primary.btn-block.eth-signin Login

        input(type="hidden" id="method" value="#{method}")
