doctype html
html
  head
    block vars
    title Eauth - #{title}
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,400&display=swap')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/normalize.css')
    block stylesheets

  body
    block content

    script(src='//code.jquery.com/jquery-3.3.1.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='/scripts/web3.js')
    script(src='//cdn.jsdelivr.net/npm/fortmatic@latest/dist/fortmatic.js')
    script(src='https://cdn.jsdelivr.net/gh/pelith/eauth.js@isValidSignature/dist/eauth.min.js?hash=0d7732b' type='text/javascript')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css' integrity='sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE=' crossorigin='anonymous')
    block scripts