doctype html
html
  head
    block vars
    title Eauth - #{title}
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,400&display=swap')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/normalize.css')
    link(rel='stylesheet' href='/stylesheets/toastr.min.css')
    block stylesheets

  body
    .bg
      .page-control
        if !isRoot
          a.back < back
      block content
      a(href='https://pelith.com').powered-by-text Powered by Pelith

    script(src='/scripts/lib/jquery-3.3.1.min.js')
    script(src='/scripts/lib/bootstrap.min.js')
    script(src='/scripts/web3.js')
    script(src='/scripts/pageControl.js')
    script(src='/scripts/lib/fortmatic.js')
    script(src='/scripts/lib/@walletconnect/web3-provider.min.js')
    script(src='/scripts/lib/@walletconnect/utils.min.js')
    script(src='/scripts/lib/torus.min.js')
    script(src='/scripts/lib/authereum.js')
    script(src='/scripts/lib/portis.js')
    script(src='/scripts/lib/web3modal.js')
    script(src='/scripts/lib/eauth.min.js')
    script(src='/scripts/lib/toastr.min.js' type='text/javascript')
    script(src='/scripts/toast.js')
    block scripts