extends layout

block vars
  - var title = 'Login'

block content
  .dialog__default.dialog
    .dialog__logo
      img(src='/images/logo.png' alt='logo')
    .dialog__message
      .title Login with Ethereum
      .subtitle.mtb-28-center Unlock your wallet and sign
    .dialog__actions
      button.button.button--eauth Ethereum Login

    if useSocket
      hr.divider(data-content='or')
      .dialog__actions
        .qrcode-wrapper
          .qrcode-wrapper__text Login with mobile wallet
          .qrcode-wrapper__qrcode
            #qrcode(style='display: none;')
        .timer
          .timer__number 00:00
          .timer__message
            img.icon(src='/images/refresh.svg' alt='refresh-icon')
            .timer__text will refresh

block scripts
  script.
   const prefix = `#{prefix}`
  script(src='/scripts/login.js' type='text/javascript')

  if useSocket
    script(src='/socket.io/socket.io.js' type='text/javascript')
    script(src='https://cdn.jsdelivr.net/npm/easytimer@1.1.1/src/easytimer.min.js' type='text/javascript')
    script(src='/scripts/qrcode.min.js' type='text/javascript')
    script(src='/scripts/mobile-socket.js' type='text/javascript')

block stylesheets
  link(rel='stylesheet' href='/stylesheets/main.css')
