.bg {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('/images/eauth_bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Roboto;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  color: #00194c;
}

.subtitle {
  font-family: Roboto;
  font-size: 15px;
  color: #758095;
}

.dialog__default {
  border-radius: 12px;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 30px -10px rgba(0, 50, 152, 0.3);
  min-height: 350px;
  width: 350px;
}

@media (max-width: 320px) and (max-height: 568px) {
  .dialog {
    width: 320px;
  }
}

.dialog__logo > img {
  width: 108px;
  object-fit: contain;
}

.dialog__message {
  margin: 20px 0;
}

.dialog__actions > *:not(:first-child) {
  margin-top: 16px;
}

.input--ens {
  margin-top: 4px;
  width: 100%;
  padding: 8px 16px;
  font-family: Roboto;
  border-radius: 4px;
  border-width: 1px;
  border-color: #ccc;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.5;
  outline: none;
}

.input--contract {
  margin-top: 4px;
  width: 100%;
  padding: 8px 16px;
  font-family: Roboto;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.5;
  outline: none;
}

.button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-family: Roboto;
  border-radius: 3px;
  font-size: 15px;
  line-height: 1.5;
  color: #00194c;
  background-color: #fafbff;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186) rgb(209, 209, 209);
  outline: none;
  border: solid 1px #BEBEBE;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button:hover {
  background-color: #fff;
  box-shadow: 0 2px 8px -2px rgba(0, 50, 152, 0.25);
}

.button.button--verify {
  border: solid 1px #BEBEBE;
  margin-top: 14px;
}

.button:active {
  background-color: #F2F4FA;
}

.button.button--eauth, .button.button--authorize, .button.button--contractinput {
  border: solid 1px #74d592;
}

.button.button--fortmatic, .button.button--walletConnect, .button.button--logout {
  border: solid 1px #68abf7;
}

.button--eauth::before {
  content:'';
  display: inline-block;
  background-image:url(/images/ethereum@2x.png);
  background-size:22px 22px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 2px;
}

.button--fortmatic::before {
  content:'';
  display: inline-block;
  background-image:url(/images/fortmatic@2x.png);
  background-size:22px 22px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 2px;
}

.button--walletConnect::before {
  content:'';
  display: inline-block;
  background-image:url(/images/WalletConnect@2x.png);
  background-size:22px 22px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 2px;
}

.button--customized::before, .button.button--verify::before {
  content:'';
  display: inline-block;
  background-image:url(/images/sign@2x.png);
  background-size:22px 22px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 1px;
  margin-bottom: 2px;
}

.message {
  margin-bottom: 12px;
  min-height: 100px;
}

.message[readonly] {
  cursor: auto;
}

.messageHex {
  margin-bottom: 12px;
  min-height: 60px;
}

.messageHex[readonly] {
  cursor: auto;
}

.copy {
  margin-left: 4px;
}

.signature {
  margin-top: 20px;
  min-height: 80px;
}

.divider {
  position: relative;
  height: 20px;
  margin: 16px;
  text-align: center;
  opacity: .5;
  border-top: #fff;
}

.divider::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, #818078, transparent);
}

.divider::after {
  content: attr(data-content);
  position: relative;
  height: 20px;
  display: inline-block;
  padding: 0 8px;
  color: #818078;
  background-color: #fcfcfa;
}

.qrcode-wrapper__text {
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  color: #758095;
}

.qrcode-wrapper__qrcode {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.qrcode-wrapper__qrcode > #qrcode {
  width: 160px;
  height: 160px;
  background-color: #758095;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer__number {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  color: #758095;
}

.timer__message {
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.timer__text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  color: #758095;
}

.icon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.mt-24 {
  margin-top: 24px;
}

.address {
  margin-top: 8px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
  color: #00194c;
  word-break: break-all;
  cursor: default;
}

.error {
  color: #dc3545;
  max-width: 100%;
  overflow-wrap: break-word;
}

.address > .far {
  margin-left: 8px;
}

@media (min-width: 413px) {
  .powered-by-text {
    margin-top: 20px;
    height: 15px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #758095;
  }
}

.powered-by-text {
  height: 15px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #758095;
}

.page-control {
  width: 350px;
}

.back {
  margin-left: 5px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: lighter;
  color: #758095;
  cursor: pointer;
}

.top {
  margin-right: 5px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: lighter;
  color: #758095;
  cursor: pointer;
  float: right;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #c7d7ee;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
