{
  "development": {
    "username": "root",
    "password": null,
    "database": "database_development",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "logging": true,
    "rpcURL": "https://rinkeby.infura.io/",
    "banner": "banner",
    "messagePrefix": "This is a prefix example\n\ntoken:\n----------\n",
    "components": {
        "ui": true,
        "authereum": true,
        "fortmatic": true,
        "oauth": true,
        "contract": true,
        "ens": true,
        "qrcode": true
    },
    "sessionMinutes": 1,
    "secret": "secret"
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "logging": true,
    "rpcURL": "https://rinkeby.infura.io/",
    "banner": "banner",
    "messagePrefix": "This is a prefix example\n\ntoken:\n----------\n",
    "components": {
        "ui": true,
        "authereum": true,
        "fortmatic": true,
        "oauth": true,
        "contract": true,
        "ens": true,
        "qrcode": true
    },
    "sessionMinutes": 1,
    "secret": "secret"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "database_production",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "logging": true,
    "rpcURL": "https://rinkeby.infura.io/",
    "banner": "banner",
    "messagePrefix": "This is a prefix example\n\ntoken:\n----------\n",
    "components": {
        "ui": true,
        "authereum": true,
        "fortmatic": true,
        "oauth": true,
        "contract": true,
        "ens": true,
        "qrcode": true
    },
    "sessionMinutes": 1,
    "secret": "secret"
  }
}
