{
  "development": {    
    "logging": true,
    "rpcURL": "https://rinkeby.infura.io/",
    "banner": "banner",
    "messagePrefix": "This is a prefix example\n\ntoken:\n----------\n",
    "components": {
        "ui": true,
        "fortmatic": true,
        "walletconnect": true,
        "oauth": true,
        "contract": true,
        "ens": true,
        "qrcode": true
    },
    "sessionMinutes": 1,
    "secret": "secret"
  },
  "test": {
    "logging": true,
    "rpcURL": "https://rinkeby.infura.io/",
    "banner": "banner",
    "messagePrefix": "This is a prefix example\n\ntoken:\n----------\n",
    "components": {
        "ui": true,
        "fortmatic": true,
        "walletconnect": true,
        "oauth": true,
        "contract": true,
        "ens": true,
        "qrcode": true
    },
    "sessionMinutes": 1,
    "secret": "secret"
  },
  "production": {
    "logging": true,
    "rpcURL": "https://rinkeby.infura.io/",
    "banner": "banner",
    "messagePrefix": "This is a prefix example\n\ntoken:\n----------\n",
    "components": {
        "ui": true,
        "fortmatic": true,
        "walletconnect": true,
        "oauth": true,
        "contract": true,
        "ens": true,
        "qrcode": true
    },
    "sessionMinutes": 1,
    "secret": "secret"
  }
}
